In [1]:
print(123)

123

In [ ]:
int
float
str

In [9]:
print(type(123))
print(type(123.5))

<class 'int'>
<class 'float'>

In [19]:
"I'm going to work"

"I'm going to work"

In [20]:
'I'm going to work'

SyntaxError: unterminated string literal (detected at line 1) (1142179155.py, line 1)

In [15]:
'He said, "Hello"'

'He said, "Hello"'

In [26]:
print('He said, "Hello"')

He said, "Hello"

In [25]:
print("Baris 1\nBaris 2")

Baris 1
Baris 2

In [28]:
print("pake tab\tloncat")

pake tab	loncat

In [39]:
print("""Baris 1, "Sebuah kutip 2"
Baris 2, 'tambah kutip 1'
            Baris 3""")

Baris 1, "Sebuah kutip 2"
Baris 2, 'tambah kutip 1'
            Baris 3

In [40]:
print('''Baris 1, "Sebuah kutip 2"
Baris 2, 'tambah kutip 1'
            Baris 3''')

Baris 1, "Sebuah kutip 2"
Baris 2, 'tambah kutip 1'
            Baris 3

In [ ]:
True
False

In [42]:
5 < 3

False

In [13]:
print("sebuah kata")
print('sebuah kata')
print("""sebuah kata""")
print('''sebuah kata''')

sebuah kata
sebuah kata
sebuah kata
sebuah kata

In [ ]:
print("sosaentoaeirnsebuah kata terus bisa nambah namba lagi")
print('sebuah kata terus bisa nambah')
print("""sebuah kata terus bisa nambah namba lagi""")
print('''sebuah kata terus bisa nambah''')

'sebuah kata'

# Data Type

- str
- int
- float
- bool

# Variable

In [43]:
"Jony"

'Jony'

In [45]:
print("Jony ke pasar")

Jony ke pasar

In [46]:
nama = "jony"

In [47]:
nama

'jony'

In [48]:
nama1 = "joh"
nama2 = "ben"

In [49]:
"tempat coding"

'tempat coding'

tempat bercerita

# Heading 1
## Heading 2
### Heading 3
#### Heading 4

# Data Type
- Array
- List []
- Tuple ()
- Set {}

In [55]:
list_nama = ["jony", "ben", "gen", "donal"]

In [51]:
nama = "jony"

In [52]:
nama

'jony'

In [53]:
list_nama

['jony', 'ben', 'gen', 'donal']

In [ ]:
list_name = []
name1 = ""
name_2 = ""
1name = ""
!name = ""
name! = ""
_name = ""
Name1 = ""
aL4y = ""
# alphanumeric _

In [60]:
print(1, 2, 3)

1 2 3

In [61]:
print("1 2 3")
print(1, 2, 3)
print(1 2 3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2904351339.py, line 3)

In [58]:
print(1, 2, 3)

1 2 3

In [ ]:
# Operator arithmetic
##  +
##  -
##  /
##  *
##  ** pangkat
## % sisa pembagian

In [ ]:
pipolondo
ping poro lan sudo

PEMDA
Parentheses Exponent Multiply Division Addition

In [62]:
5 + 3

8

In [63]:
5 - 3

2

In [72]:
print(5 + 5)
print(5 - 5)
print(5 * 5)  # kali
print(5 / 5)  # bagi
print(5 // 5)  # bagi jadi integer
print(5 // 4)
print(5 ** 5)  # pangkat
print(5 % 5)
print(25 ** (1/2))
print(25 ** 0.5)

print(10 + 5 / 2)
print((10 + 5) / 2)

10
0
25
1.0
1
1
3125
0
5.0
5.0
12.5
7.5

In [107]:
a = "halo"
b = "bandung"

print(a + " " + a + " " + b)
print(a * 2, b)  # kali
print(f"{a} " * 2 + b)
print(f"{a} {a} {b}")
print(f"judul lagu {b}")
# print(a5 ** (1/2))
# print(a5 ** 0.5)

# print(10 + 5 / 2)
# print((10 + 5) / 2)

halo halo bandung
halohalo bandung
halo halo bandung
halo halo bandung
judul lagu bandung

In [ ]:
=  # assign variable
==  # comparison equal

In [81]:
name = "jony"  #assignment (nyimpan variable)

In [79]:
name = "cantik"

In [82]:
name

'jony'

In [75]:
name == "wendy"  #comparison

False

In [108]:
print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

False
True
False
True
False
True

In [109]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [124]:
# method call `object.method()`
# function call `function(object)`
print(a.capitalize())
print(a.upper())
print(a.lower())
print(a.title()) # method call
print(str.title(a)) # function call

Halo
HALO
halo
Halo
Halo

In [116]:
list_nama

['jony', 'ben', 'gen', 'donal']

In [120]:
list_nama[0] = "doly"

In [121]:
list_nama

['doly', 'ben', 'gen', 'donal']

In [117]:
tuple_name = ('jony', 'ben', 'gen', 'donal')
tuple_name

('jony', 'ben', 'gen', 'donal')

In [145]:
print(("jony") == "jony")
print(("jony",) == "jony")

print(type("jony"))
print(type(("jony")))
print(type(("jony",)))

True
False
<class 'str'>
<class 'str'>
<class 'tuple'>

In [172]:
# start:stop:step
print(list_nama[0])
print(list_nama[1])
print(list_nama[0:2])
print(list_nama[:2])
print(list_nama[0:])
print(list_nama[:])
print(list_nama[0:1])
print(list_nama[2:4])
print(list_nama[2:])
print(list_nama[-1])
print(list_nama[-2])
print(list_nama[-2:])
print(list_nama[:])
print(list_nama[0:4])
print(list_nama[0:4:1])
print(list_nama[0:4:2])
print(list_nama[::2])
print(list_nama[::3])
print(list_nama[4::-1])

doly
ben
['doly', 'ben']
['doly', 'ben']
['doly', 'ben', 'gen', 'donal']
['doly', 'ben', 'gen', 'donal']
['doly']
['gen', 'donal']
['gen', 'donal']
donal
gen
['gen', 'donal']
['doly', 'ben', 'gen', 'donal']
['doly', 'ben', 'gen', 'donal']
['doly', 'ben', 'gen', 'donal']
['doly', 'gen']
['doly', 'gen']
['doly', 'donal']
['donal', 'gen', 'ben', 'doly']

In [183]:
# "halo" * 5
print(list_nama * 2)
print(list_nama + list_nama)
print(list_nama + [1, 2, 3, 4])

['doly', 'ben', 'gen', 'donal', 'doly', 'ben', 'gen', 'donal']
['doly', 'ben', 'gen', 'donal', 'doly', 'ben', 'gen', 'donal']
['doly', 'ben', 'gen', 'donal', 1, 2, 3, 4]

In [ ]:
dict {}

In [185]:
dict_a = {"nama": "JONY", "umur": 23, "alamat": "hahaha", "gender": "pria", "makanan": "onde"}

In [199]:
input()

'mau makan'

In [196]:
[dict_a] * 4

[{'nama': 'JONY',
  'umur': 23,
  'alamat': 'hahaha',
  'gender': 'pria',
  'makanan': 'onde'},
 {'nama': 'JONY',
  'umur': 23,
  'alamat': 'hahaha',
  'gender': 'pria',
  'makanan': 'onde'},
 {'nama': 'JONY',
  'umur': 23,
  'alamat': 'hahaha',
  'gender': 'pria',
  'makanan': 'onde'},
 {'nama': 'JONY',
  'umur': 23,
  'alamat': 'hahaha',
  'gender': 'pria',
  'makanan': 'onde'}]

In [189]:
print(dict_a["umur"])
print(dict_a["nama"])
print(dict_a["gender"])
print(dict_a["makanan"])

23
JONY
pria
onde